$fonts-headline: 'Silkscreen', cursive;
$fonts-body: 'Chakra Petch', sans-serif;
$background-color:#f86cd8ff;
$primary: #b048b0ff;
$secondary:#f8b4f8ff;
$accent1: #69c9c0ff;
$accent2: #f8d8f8ff;
$grey-sidebar: #69c9c0ff;
$text-dark: #b048b0ff;
$text-light: #f8d8f8ff;
