@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

$fonts-headline: 'Silkscreen', cursive;
$fonts-body: 'Chakra Petch', sans-serif;
$background-color:#f86cd8ff;
$primary: #b048b0ff;
$secondary:#f8b4f8ff;
$accent1: #69c9c0ff;
$accent2: #f8d8f8ff;
$grey-sidebar: #69c9c0ff;
$text-dark: #b048b0ff;
$text-light: #f8d8f8ff;
