@use "variables" as *; //this puts all the variables in the global namespace.
@use 'atoms' as *;
@use 'molecules' as *;
@use 'organisms' as *;


* {
  box-sizing: border-box;
}

html {
  background-color: $background-color;
  padding: 5%;
}

h1 {
  color: transparent;
  pointer-events: none;
  font-size: 0px;
  &::before {
    content: "CSS";
    color: $text-light;
    font-size: 28vw;
    display: block;
    margin: 0 auto;
    padding-top: 0.5em;
    padding-bottom: 0.8em;
    font-weight: 700;
  }
  &::after {
    content: "Zen Garden";
    color: $text-light;
    display: block;
    font-size: 8vw;
    padding-bottom: 0.5em;


  }
}

h2 {
  text-align: center;
  font-size: 3em;
}

.summary {
  font-family: $fonts-headline;
  color: $secondary;
  text-align: center;
  font-size: 1.5em;
  
}

.intro {
  padding: 5%;
  background-image: url(cloud-background.jpg);
  background-size: 150%;
  background-position: bottom;
  background-repeat:repeat-x;
  padding-bottom: 10em;
}

.preamble {
  position: absolute;
  left: 0;
  right: 0;
  width: 80vw;
  display: block;
  margin: 0 auto;
  z-index: 500;
  padding: 1em;
  padding-top: 4em;
  padding-bottom: 3em;
  font-size: larger;
  & h3{
    font-size: 1.5em;
  }
  
  
  
}


body {
  font-family: $fonts-body;
  font-size: 85%;
  color: $text-dark;
  background-color: $primary;
  margin: 0;
  padding: 1em;
}
.explanation {
  padding-top: 60em;  

 }

.main {
  position: relative;
  p, h3{
    padding: 1.5em 2em;
  }
  
}

.participation{
  margin-top: 5em;
  & h3{
    padding: 0.5em;
  
  }
}

.requirements{
  & h3{
    padding: 0.5em;
  }
}
ul {
  list-style: none;
}

footer,
.sidebar {
  background-color: $accent1;
  text-align: center;
}

@keyframes cloud {
  0% {
    
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
    transform-origin: 50% 16%;
  }
  10%{
    transform: scale(1) translate(-10%, 0%);

  }
  20%{
    transform: scale(1) translate(10%, -15%);

  }
  30%{
    transform: scale(1) translate(20%, 20%);

  }
  40%{
    transform: scale(1) translate(50%, -80%);

  }
  70%{
    transform: scale(1) translate(80%, 20%);

  }
  100% {
    -webkit-transform: scale(1.25) translateY(-15px);
    transform: scale(1.25) translateY(-15px);
    -webkit-transform-origin: top;
    transform-origin: top;
  }
}

.main h3 {
  position: relative;
  z-index: 5;
  padding-top: 3em;
  text-align: left;
}
.main h3::after {
  width: 150px;
  height: 100px;
  content: " ";
  display: block;
  background: url("cloud.png");
  background-position: center;
  background-repeat: no-repeat;
  animation-name: cloud;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  z-index: -1;
  position: absolute;
  top: 15%;
  animation-timing-function: ease-in-out;
}


@media (min-width: 700px){
  .main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }
  ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: 15em;
    margin-inline-end: 15em;
    & a{
      color: $text-light;
    }
  }
  .summary{
    & a{
      color: $accent1;
    }
  }
  footer{
    position: absolute;
    bottom: 0px;
    width: 100%;
  }
  .participation{
      padding-top: 10em;
  }
  .explanation{
    padding-top: 15em;
  }
  .requirements{
    grid-column: 1/3;
    grid-row: 2;
    & h3{
      text-align: center;
    }
    & h3::after {
      left: 28em;
    }
  

  }
  .benefits{
    grid-column: 1/3;
    padding-bottom: 4em;
    & h3{
      text-align: center;
    }
    & h3::after{
      left: 28em;
    
    }

  }
}